.button{
  padding: 1rem 0;
  background: var(--clr--purple);
  color: var(--clr--white);
  border:none;
  margin-top: 1rem;
  border-radius: 10px;
  font-weight: var(--fw-bold);
  cursor: pointer;
}
